/* Mantine core */
@import '@mantine/core/styles.css';

/* Mantine foundational components */
@import '@mantine/core/styles/ScrollArea.css';
@import '@mantine/core/styles/UnstyledButton.css';
@import '@mantine/core/styles/VisuallyHidden.css';
@import '@mantine/core/styles/Paper.css';
@import '@mantine/core/styles/Popover.css';
@import '@mantine/core/styles/CloseButton.css';
@import '@mantine/core/styles/Group.css';
@import '@mantine/core/styles/Loader.css';
@import '@mantine/core/styles/Overlay.css';
@import '@mantine/core/styles/ModalBase.css';
@import '@mantine/core/styles/Input.css';
@import '@mantine/core/styles/InlineInput.css';
@import '@mantine/core/styles/Flex.css';

/* Mantine components */
@import '@mantine/core/styles/Button.css';
@import '@mantine/core/styles/Menu.css';

@layer tailwind {
  @tailwind base;

  /* Use Mantine's default border color for input component */
  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
    border-color: var(--mantine-color-gray-3);
  }

  [data-mantine-color-scheme='dark'] *,
  [data-mantine-color-scheme='dark'] ::before,
  [data-mantine-color-scheme='dark'] ::after {
    border-color: var(--mantine-color-dark-4);
  }
}

/* Tailwind components & utilities */
@tailwind components;
@tailwind utilities;
